@model List<BasketItem>

@{
    ViewData["Title"] = "Sipariş Tamamla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="boxed_wrapper">

    <!-- preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">Preloader Close</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="B" class="letters-loading">
                            B
                        </span>
                        <span data-text-preloader="A" class="letters-loading">
                            A
                        </span>
                        <span data-text-preloader="G" class="letters-loading">
                            G
                        </span>
                        <span data-text-preloader="E" class="letters-loading">
                            E
                        </span>
                        <span data-text-preloader="R" class="letters-loading">
                            R
                        </span>
                        <span data-text-preloader="Y" class="letters-loading">
                            Y
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end -->


    <div class="product-sidebar">
        <div class="xs-sidebar-group info-group info-sidebar">
            <ul class="social-links clearfix">
                <li class="navSidebar-button"><i class="icon fas fa-shopping-basket"></i><span>Bye Now</span></li>
                <li><a href="index.html"><i class="icon fab fa-facebook-f"></i><span>Facebook</span></a></li>
                <li><a href="index.html"><i class="icon fab fa-twitter"></i><span>Twitter</span></a></li>
                <li><a href="index.html"><i class="icon fab fa-google-plus-g"></i><span>Google+</span></a></li>
            </ul>
            <div class="xs-overlay xs-bg-black"></div>
            <div class="xs-sidebar-widget">
                <div class="sidebar-widget-container">
                    <div class="sidebar-content">
                        <div class="single-box">
                            <div class="title-box">
                                <h5>New</h5>
                            </div>
                            <div class="single-item">
                                <figure class="image"><a href="shop-details.html"><img src="assets/images/resource/shop/product-1.jpg" alt=""></a></figure>
                                <div class="item-name clearfix">
                                    <h6><a href="shop-details.html">Coffee Chef</a></h6>
                                    <div class="bye-btn"><a href="shop-details.html">Bye Now</a></div>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image"><a href="shop-details.html"><img src="assets/images/resource/shop/product-2.jpg" alt=""></a></figure>
                                <div class="item-name clearfix">
                                    <h6><a href="shop-details.html">Baking Breads</a></h6>
                                    <div class="bye-btn"><a href="shop-details.html">Bye Now</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="single-box">
                            <div class="title-box">
                                <h5>Most Populer</h5>
                            </div>
                            <div class="single-item">
                                <figure class="image"><a href="shop-details.html"><img src="assets/images/resource/shop/product-3.jpg" alt=""></a></figure>
                                <div class="item-name clearfix">
                                    <h6><a href="shop-details.html">Chocolate Cake</a></h6>
                                    <div class="bye-btn"><a href="shop-details.html">Bye Now</a></div>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image"><a href="shop-details.html"><img src="assets/images/resource/shop/product-4.jpg" alt=""></a></figure>
                                <div class="item-name clearfix">
                                    <h6><a href="shop-details.html">French Croissants</a></h6>
                                    <div class="bye-btn"><a href="shop-details.html">Bye Now</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="single-box">
                            <div class="title-box">
                                <h5>Best Sell</h5>
                            </div>
                            <div class="single-item">
                                <figure class="image"><a href="shop-details.html"><img src="assets/images/resource/shop/product-5.jpg" alt=""></a></figure>
                                <div class="item-name clearfix">
                                    <h6><a href="shop-details.html">Donuts Cake</a></h6>
                                    <div class="bye-btn"><a href="shop-details.html">Bye Now</a></div>
                                </div>
                            </div>
                            <div class="single-item">
                                <figure class="image"><a href="shop-details.html"><img src="assets/images/resource/shop/product-6.jpg" alt=""></a></figure>
                                <div class="item-name clearfix">
                                    <h6><a href="shop-details.html">Ice Crem</a></h6>
                                    <div class="bye-btn"><a href="shop-details.html">Bye Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- main header -->
    <header class="main-header style-one style-five">
        <!-- header-lower -->
        <div class="header-lower">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="assets/images/logo-5.png" alt=""></a></figure>
                </div>
                <div class="menu-area">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current dropdown">
                                    <a href="index.html">Ana Sayfa</a>
                                    <ul>
                                        <li><a href="index.html">Dondurma Dükkanı</a></li>
                                        <li><a href="index-2.html">Pasta Dükkanı</a></li>
                                        <li><a href="index-3.html">Kahve Dükkanı</a></li>
                                        <li><a href="index-4.html">Ekmek Dükkanı</a></li>
                                        <li><a href="index-onepage.html">Tek Sayfa Ana Sayfa</a></li>
                                        <li><a href="index-rtl.html">RTL Ana Sayfa</a></li>
                                        <li class="dropdown">
                                            <a href="index.html">Başlık Stili</a>
                                            <ul>
                                                <li><a href="index.html">Başlık Stili 01</a></li>
                                                <li><a href="index-2.html">Başlık Stili 02</a></li>
                                                <li><a href="index-3.html">Başlık Stili 03</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="index.html">Mağaza</a>
                                    <ul>
                                        <li><a href="shop-1.html">Mağaza Sayfa 01</a></li>
                                        <li><a href="shop-2.html">Mağaza Sayfa 02</a></li>
                                        <li><a href="shop-details.html">Mağaza Detayları</a></li>
                                        <li><a href="cart.html">Sepet Sayfası</a></li>
                                        <li><a href="checkout.html">Ödeme Sayfası</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="index.html">Sayfalar</a>
                                    <ul>
                                        <li><a href="about.html">Hakkımızda</a></li>
                                        <li><a href="service.html">Hizmetlerimiz</a></li>
                                        <li><a href="gallery-1.html">Galeri Sayfa 01</a></li>
                                        <li><a href="gallery-2.html">Galeri Sayfa 02</a></li>
                                        <li><a href="gallery-3.html">Galeri Sayfa 03</a></li>
                                        <li><a href="team.html">Ekibimiz</a></li>
                                        <li><a href="our-menu.html">Menümüz</a></li>
                                        <li><a href="testimonial.html">Referanslar</a></li>
                                        <li><a href="faq.html">S.S.S.</a></li>
                                        <li><a href="error.html">404</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="index.html">Öğeler</a>
                                    <div class="megamenu">
                                        <div class="row clearfix">
                                            <div class="col-xl-6 col-lg-12 col-md-12 column">
                                                <ul>
                                                    <li><h4>Öğeler 1</h4></li>
                                                    <li><a href="about-element-1.html">Hakkında Bloğu 01</a></li>
                                                    <li><a href="about-element-2.html">Hakkında Bloğu 02</a></li>
                                                    <li><a href="service-element-1.html">Hizmet Bloğu 01</a></li>
                                                    <li><a href="service-element-2.html">Hizmet Bloğu 02</a></li>
                                                    <li><a href="shop-element-1.html">Mağaza Bloğu 01</a></li>
                                                    <li><a href="shop-element-2.html">Mağaza Bloğu 02</a></li>
                                                    <li><a href="news-element-1.html">Haber Bloğu 01</a></li>
                                                    <li><a href="news-element-2.html">Haber Bloğu 02</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-6 col-lg-12 col-md-12 column">
                                                <ul>
                                                    <li><h4>Öğeler 2</h4></li>
                                                    <li><a href="feature-element-1.html">Özellik Bloğu 01</a></li>
                                                    <li><a href="feature-element-2.html">Özellik Bloğu 02</a></li>
                                                    <li><a href="project-element-1.html">Proje Bloğu 01</a></li>
                                                    <li><a href="project-element-2.html">Proje Bloğu 02</a></li>
                                                    <li><a href="team-element-1.html">Ekip Bloğu 01</a></li>
                                                    <li><a href="team-element-2.html">Ekip Bloğu 02</a></li>
                                                    <li><a href="testimonial-element.html">Referans Bloğu</a></li>
                                                    <li><a href="clients-element.html">Müşteriler Bloğu</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="index.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Blog Izgara</a></li>
                                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                        <li><a href="blog-standard.html">Blog Standart</a></li>
                                        <li><a href="blog-details.html">Blog Detayları</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">İletişim</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <ul class="menu-right-content clearfix">
                    <li class="search-box-outer">
                        <div class="dropdown">
                            <button class="search-box-btn" style="background-image: url(assets/images/icons/icon-bg-6.png);" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-Search"></i></button>
                            <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
                                <div class="form-container">
                                    <form method="post" action="blog.html">
                                        <div class="form-group">
                                            <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                            <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="user-btn">
                        <a href="index.html" style="background-image: url(assets/images/icons/icon-bg-6.png);">
                            <i class="icon-Profile"></i>
                        </a>
                    </li>
                    <li class="cart-btn">
                        <a href="shop-1.html" style="background-image: url(assets/images/icons/icon-bg-6.png);">
                            <i class="icon-Bag"></i>
                            <span class="basket-count-nav">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="assets/images/small-logo.png" alt=""></a></figure>
                </div>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
                <ul class="menu-right-content clearfix">
                    <li class="search-box-outer">
                        <div class="dropdown">
                            <button class="search-box-btn" style="background-image: url(assets/images/icons/icon-bg-1.png);" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-Search"></i></button>
                            <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
                                <div class="form-container">
                                    <form method="post" action="blog.html">
                                        <div class="form-group">
                                            <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                            <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="user-btn">
                        <a href="index.html" style="background-image: url(assets/images/icons/icon-bg-1.png);">
                            <i class="icon-Profile"></i>
                        </a>
                    </li>
                    <li class="cart-btn">
                        <a href="shop-1.html" style="background-image: url(assets/images/icons/icon-bg-1.png);">
                            <i class="icon-Bag"></i>
                            <span class="basket-count-nav">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <section class="page-title centred" style="background-image: url(/assets/images/background/page-title.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <div class="title">
                    <h1>Ödeme ve Teslimat</h1>
                </div>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Anasayfa</a></li>
                    <li>Güvenli Ödeme</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="shop-page-section shop-page-1">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="shop-sidebar default-sidebar">
                        <div class="sidebar-widget sidebar-categories">
                            <div class="widget-title">
                                <h3>Sipariş Özeti</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="categories-list clearfix">
                                    @foreach (var item in Model)
                                    {
                                        <li style="border-bottom: 1px solid #f2f2f2; padding-bottom: 10px; margin-bottom: 10px;">
                                            <div style="font-weight: 500;">@item.ProductName</div>
                                            <div style="font-size: 13px; color: #888;">
                                                @item.Quantity Adet x @item.Price.ToString("C2")
                                                <span class="pull-right" style="color: #ffaa17; font-weight: bold;">
                                                    @((item.Price * item.Quantity).ToString("C2"))
                                                </span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div style="background: #fffaf4; padding: 15px; border-radius: 8px; margin-top: 20px;">
                                    <h4 style="display: flex; justify-content: space-between; margin: 0;">
                                        <span>Toplam:</span>
                                        <span style="color: #d2691e;">@Model.Sum(x => x.Price * x.Quantity).ToString("C2")</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="contact-section" style="padding: 40px; background: #fff; border-radius: 10px; box-shadow: 0 10px 30px rgba(0,0,0,0.05);">
                        <div class="sec-title left">
                            <div class="title">Teslimat Bilgileri</div>
                            <h2>Siparişinizi Tamamlayın</h2>
                        </div>

                        <form action="/Home/CompleteOrder" method="post" class="default-form">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Adınız Soyadınız *</label>
                                    <input type="text" name="FullName" placeholder="Adınız Soyadınız" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <label>Telefon Numaranız *</label>
                                    <input type="text" name="PhoneNumber" placeholder="05XX XXX XX XX" required>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <label>Mail Adresiniz</label>
                                    <input type="text" name="Email" placeholder="deneme@hotmail.com" required>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <label>Teslimat Adresi *</label>
                                    <textarea name="Address" placeholder="Siparişinizin teslim edileceği açık adresi yazınız..." required></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                    <button class="theme-btn-two" type="submit" style="width: 100%; padding: 18px;">
                                        Siparişi Onayla ve Gönder
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>